$label-color: #889499;
$span-color: #165C7D;

.info-container {
  display: flex;
  min-width: 270px;

  .icon-container {
    padding-right: 24px;
    align-self: center;
  }

  .text-container {
    p {
      margin: 0;
      font-weight: 400;
      font-size: 0.6875rem;
      line-height: 0.93625rem;
      color: $label-color;
    }

    span {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.191875rem;
    }
  }
}
.button {
  color: #165C7D;
}