$ball-background: #C6CED1;
$current-color: #165C7D;
$label-color: #889499;

.stepper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;

  .stepper-item {
    height: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    div {
      display: flex;

      .ball {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid $current-color;
      }
      
      .ball-filled {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $ball-background;
      }

      .line {
        height: 1px;
        width: 61px;
        margin: 8px 0 8px;
        background-color: $ball-background;
      }

      .line-invisible {
        width: 61px;
      }
    }

    .label {
      font-size: 14px;
      font-weight: 400;
      color: $label-color;
    }

    .label-current {
      font-size: 14px;
      font-weight: 400;
      color: $current-color;
    }
  }
  
}