<div class="container">
  <app-sidebar></app-sidebar>
  <main class="main">
    <app-toolbar [notification]="notificationList"></app-toolbar>
    <section class="content">
      <app-stepper [data]="stepper" />
      <br />
      <br />
      <app-description-container />

      <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
        <div class="input-container">
          <label for="cpf">CPF</label>
          <input
            type="text"
            formControlName="cpf"
            maxlength="14"
            appCpfMask
            (ngModelChange)="onChange($event)"
          />
        </div>

        <app-button>Consulta por CPF</app-button>
      </form>
      <br />
      <br />
      <app-card *ngIf="checkIfDocumentIsValid">
        <h4>Situação cadastral do CPF</h4>
        <p class="subtitle">Consulta na Receita Federal</p>

        <app-info-container
          iconName="fa-solid fa-user"
          label="Nome"
          description="Mariane de Sousa Oliveira"
          color="#889499"
        />

        <br />

        <app-info-container
          iconName="fa-regular fa-circle-check"
          label="Situação do CPF"
          description="Regular"
          color="#00c246"
        />
      </app-card>

      <app-card
        *ngIf="!checkIfDocumentIsValid && checkIfDocumentIsValid !== undefined"
      >
        <div class="error">
          <i class="fa-solid fa-bomb"></i>
          <p>Ops, o CPF informado não é válido!</p>
        </div>
      </app-card>
    </section>
    <app-footer></app-footer>
  </main>
</div>
