<div class="container">
  <app-sidebar></app-sidebar>
  <main class="main">
    <app-toolbar [notification]="notificationList"></app-toolbar>
    <section class="content">
      <app-stepper [data]="stepper" />
      <br />
      <br />
      <app-description-container />

      <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
        <div class="input-container">
          <label for="cpf">CPF</label>
          <input
            type="text"
            formControlName="cpf"
            maxlength="14"
            appCpfMask
            (ngModelChange)="onChange($event)"
          />
        </div>

        <app-button>Consulta por CPF</app-button>
      </form>
      <br />
      <br />

      <div class="card-list" *ngIf="checkIfDocumentIsValid">
        <app-card
          *ngFor="
            let item of resultInformation;
            let last = last;
            let first = first
          "
          [ngClass]="!first && !last ? 'middle-card' : ''"
        >
          <h4>{{ item.title }}</h4>
          <p class="subtitle">{{ item.subTitle }}</p>

          <div *ngFor="let subItem of item.list">
            <app-info-container
              [iconName]="subItem?.iconName"
              [label]="subItem?.label"
              [description]="subItem?.description"
              [button]="subItem?.button"
              [color]="subItem?.color"
            />
          </div>
        </app-card>
      </div>

      <app-card
        *ngIf="!checkIfDocumentIsValid && checkIfDocumentIsValid !== undefined"
      >
        <div class="error">
          <i class="fa-solid fa-bomb"></i>
          <p>Ops, o CPF informado não é válido!</p>
        </div>
      </app-card>
    </section>
    <app-footer></app-footer>
  </main>
</div>
